body{
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: black;
}
.white-background{
    background-color: white;
    width: 70%;
    margin: auto;

}
.color{
    color: orange;
}
a{ 
    text-decoration: none;
}
.top-part{
    display: flex;
    width:80% ;
    height:800 px;
}
.top-left-part{
    width: 50%;
    margin:100px 40px 40px 80px;
    
}
.top-left-part h1{
    font-size: 50px;
    color: rgb(85, 89, 94);
}
.top-left-part p{
    font-size: 20px;
    color:lightslategrey;
    margin-bottom: 20px;
}
.top-left-part a{
    color:white;
    font-size: 15px;
    border:1px solid transparent;
    border-radius: 30px;
    width:170px ;
    background-image: linear-gradient(#eb673f,#fc8906);
    display: block;
    margin: 30px 0;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.top-right-part{
    width:50%;
}
.top-right-part img{
    width: 80%;
    height: 600px;
    margin:auto;
}
