body{
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: black;
}
.white-background{
    background-color: white;
    width: 80%;
    margin: auto;
    height: fit-content;
    border: 1px solid transparent;
    border-radius: 20px;

}
span{
    color: orange;
}
a{ 
    text-decoration: none;
}
p{
    color:rgb(119, 126, 134);
}
.top-part, .mid-part{
    display: flex;
    width:100% ;
    height:800 px;
}
.mid-part{
    background-image: url(images/7.png);
    background-repeat:no-repeat;
    background-size: cover;
   
}
.top-left-part ,.mid-right-part {
    width: 50%;
    margin:100px 40px 40px 80px;
    
}
.top-left-part h1,.mid-right-part h2{
    font-size: 50px;
    color: rgb(85, 89, 94);
}
.top-left-part p{
    font-size: 20px;
    color:lightslategrey;
    margin-bottom: 20px;
}
.top-left-part a ,.mid-right-part a{
    color:white;
    font-size: 15px;
    border:1px solid transparent;
    border-radius: 30px;
    width:170px ;
    background-image: linear-gradient(#eb673f,#fc8906);
    display: block;
    margin: 30px 0;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 4px 8px 0 rgb(250, 185, 147), 0 6px 20px 0 rgb(250, 185, 147);
}
.top-right-part ,.mid-left-part{
    width:50%;
}
.top-right-part img, .mid-left-part img{
    width: 100%;
    height: 600px;
    margin:auto;
}
.mid-left-part img{
    margin-left: 40px;
}
.mid-right-part h2{
    font-size: 40px;
}
.mid-right-part p{
    font-size: 16px;
    color:lightslategrey;
    margin-bottom: 10px;
    text-align: justify;
}
.bottom-part{
    width: 80%;
    margin: auto;
}
.bottom-text-part{
    text-align: center;
    margin:50px auto;
    width: 90%;
}
.bottom-text-part h1{
    color:lightsteelblue;
    font-size:40px;
}
.bottom-text-part p,.bottom-recipi-part p{
    color:rgb(119, 126, 134);
    font-size:20 px;
    
}

.bottom-recipi-part{
    width: 100%;
    margin: auto;
    height:fit-content;
    display: flex;
}
.bottom-recipi-part h2{
    color: black;
    text-align: center;
}
.bottom-recipi-part p{
    text-align: justify;
}
.bottom-recipi-left,.bottom-recipi-mid,.bottom-recipi-right{
    width: 400px;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgb(216, 211, 208), 0 6px 20px 0 rgb(216, 211, 208);
    margin: 0 10px;
    padding: 10px 10px;
}
.bottom-img{
    width: 275px;
    height: 200px;
    border-radius: 10px;
    
}
.bottom-pool{
    margin:60px auto;
    box-shadow: 0 4px 8px 0 rgb(216, 211, 208), 0 6px 20px 0 rgb(216, 211, 208);
    border: 1px solid transparent;
    border-radius: 10px;
    width:75%;
    display: flex;
}
.bottom-pool-content{
   
    margin: auto;
    text-align: center;
}
.bottom-pool-content h1{
    font-size: 20px;
}
.bottom-share-req{
    width:80%;
    height:fit-content;
    margin: 40px auto;
    text-align: center;
}
.footer-area{   
    text-align: center;
    height:fit-content;
    margin:20px 0;
}
.footer-area h1{
    color: thistle;
}
.footer-area a{
    color: thistle;
}
.footer-area p{
    color: thistle;
    word-spacing:1px;
}
.random-footer-links a{
    color: thistle;
    margin: 40px 30px;
}